.fa-square-facebook {
  color: $facebook;
}

.fa-square-pinterest {
  color: $pinterest;
}

.fa-square-twitter {
  color: $twitter;
}

.fa-linkedin {
  color: $linkedin;
}

.fa-square-instagram {
  color: $instagram;
}

// .fa-brands {
//   background-color: $white;
//   border-radius: 50%;
//   height: 20px;
// }